@font-face{
    font-family: Gotham;
    src: url(/styles/Fonte/GothamMedium_1.ttf);
}

*{
    font-family: Gotham;
}

:root{
    --primario : #1db954;
    --secundario : #1ed760;
    --branco : #ffffff;
    --preto : #191414;
}

body{
    height: 100vh;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

.nav-link, .active, .navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
    color: var(--branco);
}

.active{
    border-bottom: var(--branco) 3px solid;
}

.card img, .card{
    border-radius: 0%;
    border: none;
}

.navbar-brand img{
    width: 40px;
}

